.root {
    -app-bg: lightgreen;
    -app-text: black;
    -app-panel: white;
    -app-accent: purple;
    -app-btn-fill: blue;
    -app-btn-text: white;
}

.root {
    -fx-padding: 8px;
    -fx-background-color: -app-bg;
}

.label {
    -fx-text-fill: -app-text;
}

.label.title {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: -app-accent;
}

.button.fill {
    -fx-background-color: -app-btn-fill;
    -fx-text-fill: -app-btn-text;
    -fx-font-size: 14px;
}
